/* ChipButton Style */

.root {
  display: inline-flex;
  height: 28px;
  align-items: center;
  padding: 5px 0 5px 8px;
  border: unset;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

.chipText {
  color: #fff;
  font-size: 1.3rem;
}

.button {
  display: inline-flex;
  width: 25px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 5px;
}
