/* Loader Style */

.loader {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-width: 3px;
  border-top-color: #333;
  animation: spin 0.8s linear infinite;
  border-radius: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
