/* Textarea Style */

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.textarea {
  width: 100%;
  min-height: 100px;
  padding: 4px 12px;
  border: solid 1px #dbdee2;
  border-radius: 8px;
}

.length {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.error {
  margin-top: 0.5em;
  margin-bottom: unset;
  color: red;
}
