/* InputFiled Style */

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.inputWrapper {
  width: 100%;
}

.input {
  width: 100%;
  min-height: 35px;
  padding: 4px 12px;
  border: solid 1px #dbdee2;
  border-radius: 8px;
}

.input:focus {
  border: solid 1px #007ed6;
}

.input::placeholder {
  color: #dbdee2;
}

.error {
  margin-top: 0.5em;
  margin-bottom: unset;
  color: red;
}
